.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 2rem 0;
}

.div-header {
    display: flex;
    align-items: center;
        
}

.input {
    width: 393px;
    height: 40px;
    border-radius: 20px;
    background: #F5F5F5;
    margin-left: 1.5rem;

}

.button-login{
    width: 182px;
    height: 51px;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    padding: 1rem;
    color: #2A7AE4;
    
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;

}